<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center page-header">Device : Nouveau</h1>

			<div class="well">
				Création d'un device
			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-md-12">

			<%= render 'form' %>
			<hr />
			<%= link_to 'Index', devices_path, class: "btn btn-info" %>
		</div>
	</div>

</div>

