<div class="container">
<div class="row">
	<div class="col-md-12">
		<h1 class="text-center page-header">Domotique Raspberry</h1>
		
		<div class="well">Site dédié au test des API pour connexion avec des Raspberry. Le But de ce site est de pouvoir activer ou désactiver depuis le Web des devices connectés à un terminal Raspberry</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<%= link_to "Accèder aux devices", devices_path, class: "btn btn-lg btn-info"%>
	</div>
	</div>	
</div>